* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    font-size: 48px;
    text-align: center;
    padding-bottom: 100px;
    font-weight: 700;
}

body {
    padding: 100px 0;
}

[class*=col] {
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    background-color: blueviolet;
    padding: 14px 0;
}

h2, p {
    margin-left: -13px;
}

h2:not(:first-child) {
    margin-top: 28px;
}

.mb-20 {
    margin-bottom: 20px;
}